:root{
    --black-color:#2d2d2d;
    --white-color:#fff;
    --blue-color:#007ad8; 
    --yellow-color: #ffe533;
}

ul,li{list-style: none;}
a{text-decoration: none; color: var(--black-color);}
button{border: none; background: none;}
img{display: block;}
*{padding: 0; margin: 0; box-sizing: border-box;}
.hidden{
    position: absolute;
    left: -9999px;
    width: 1px; height: 1px; 
    font-size: 0;
    overflow: hidden;}

    header .top-menu{
    position: absolute;
    top: 0; left: 0;
    width: 100%; /*height: 49px;*/
    border-bottom: 1px solid #eeeded;
    padding: 12px 0;
}